video#home-page {
  animation: fadeInBottom 1.5s ease-out;
  animation-delay: 1.5s; /* Start the animation slightly later than nav a */
  opacity: 0;
  animation-fill-mode: forwards;
}

/* Home Page */

body#home-page {
  background-image: url('https://kennandg.github.io/portfolio-website/images/home_background.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
}