/* Reset CSS */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

.nunito-sans-default {
  font-family: "Nunito Sans", serif;
  font-optical-sizing: auto;
  font-weight: 200;
  font-style: normal;
  font-variation-settings:
    "wdth" 100,
    "YTLC" 500;
}

/* Global Styles */

body {
    font-family: "Nunito Sans", monospace, sans-serif;
    font-size: 16px;
    line-height: 1.6;
    color: #212121;
    margin: 0;
    padding: 0;
}

a {
  text-decoration: none; /* Removes underline from links */
  color: inherit;        /* Ensures link color inherits from parent element */
  font-weight: bold;     /* Makes the text bold */
  }

img {
  max-width: 100%;
  height: auto;
}


/* Header styles */

h1 {
  text-align: center;
  font-size: 40px;
  line-height: 1.3;
}

h2 {
  font-size: 32px;
  line-height: 1.3;
}

h3 {
  font-size: 28px;
  line-height: 1.4;
}

h4 {
  font-size: 24px;
  line-height: 1.4;
}

/* Paragraphs */
p {
  font-size: 16px;
  line-height: 1.6;
}

/* Small text */
.small {
  font-size: 14px;
  line-height: 1.4;
  color: #575656;
}

/* background images */

body#home-page {
  background-image: url('/images/home_background.jpg');
  background-size: cover;
  background-repeat: no-repeat;
}