body#projects-page {
  background-attachment: fixed; /* Keeps the background image in place */
}

/* header#projects-page {
  width: 100%;
  position: fixed;
  z-index: 9999;
  top: 0;
  height: 120px;
} */

/* .projects-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  grid-template-columns: 1fr;
  gap: 24rem;
}

.project-card {
  position: sticky;
  top: 240px;
  background: linear-gradient(to top, #8354f8b4, #c1327a98);
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  transition: 
    transform 0.3s ease, 
    opacity 0.3s ease; 
    /* box-shadow 0.3s;
  max-width: 900px; 
  width: 100%; 
  margin: 0 auto;
  padding: 2rem;
} */


.projects-container {
  top: 160px;
  display: flex;
  flex-direction: column;
  gap: 4rem; /* Add spacing between cards */
  margin: 100px auto;
  max-width: 900px; 
}


.project-card {
  background: linear-gradient(to top, #8354f8b4, #c1327a98);
  text-align: center;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  opacity: 0.5; /* Default semi-transparent for non-focused cards */
  transform: 
    scale(0.7), /* Default size for non-focused cards */
    translateX(400px); /* Slight offset */
  transition: transform 0.3s ease, opacity 0.3s ease;
  max-width: 900px; 
  width: 100%;
  margin: 0 auto; /* Center cards horizontally */
  padding: 2rem;
}


/* Card Image */
.project-card img {
  width: auto;
  height: 400px;
  border-bottom: 1px solid #f4aaaad1;
  border-radius: 10px 10px 10px 10px;
  transition: transform 0.3s ease;
}


.project-card.in-focus {
  opacity: 1; /* Fully visible when focused */
  transform: 
  scale(1), /* Full size when focused */
  translateX(0); /* Centered when in focus */
  z-index: 10; /* Bring to the front */
}

.project-card.not-in-focus {
  opacity: 0.5; /* Dimmed */
  transform: 
    scale(0.7) 
    translateX(400px);
  z-index: 1; /* Push to the back */
}

/* .project-card:hover {
  transform: translateY(-10px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
} */


.project-card:hover img {
    transform: scale(1.05); /* Slight zoom-in effect */
}

h3#project-page {
    color: #ffffff;
}

p#project-page {
    color: #ffffff;
}

/* Button inside Card */
.project-card .btn {
    display: inline-block;
    margin-top: 1rem;
    background-color: #f56a6a;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    font-size: 1rem;
    transition: background-color 0.3s ease;
}


.project-card .btn:hover {
    background-color: #b54d4d;
}