body#projects-page {
  background-attachment: fixed; /* Keeps the background image in place */
}


video#projects-page {
  padding-bottom: 1rem;
}


h3#projects-page {
    color: #ffffff;
    margin: 1rem 0;
}


p#projects-page {
    color: #ffffff;
    margin: 0 2rem;
}


.projects-container {
  top: 160px;
  display: flex;
  flex-direction: column;
  gap: 4rem; /* Add spacing between cards */
  margin: 100px auto;
  max-width: 900px; 
  animation: fadeInBottom 1.5s ease-out;
  animation-delay: 1.5s; 
  opacity: 0;
  animation-fill-mode: forwards;
}


.projects-card {
  background: linear-gradient(to top, #8354f8b4, #c1327a98);
  text-align: center;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  opacity: 0.5; /* Default semi-transparent for non-focused cards */
  transform: 
    scale(0.8), /* Default size for non-focused cards */
    translateX(100px); /* Slight offset */
  transition: transform 0.2s ease, opacity 0.2s ease;
  max-width: 900px; 
  width: 100%;
  margin: 0 auto; /* Center cards horizontally */
  padding: 2rem;
}


/* Card Image */
.projects-card img {
  width: auto;
  height: 400px;
  border-bottom: 1px solid #f4aaaad1;
  border-radius: 10px 10px 10px 10px;
  transition: transform 0.3s ease;
}

/* Card Video */
.projects-card video {
  display: block;
  width: 100%; /* Make the video width match the container */
  height: 400px; /* Maintain the aspect ratio */
  object-fit: cover; /* Crop the video to fit the container without black bars */
  border-radius: 10px; /* Match the card's border radius */
  margin: 0 auto; /* Center the video horizontally */
  transition: transform 0.3s ease;
}



.projects-card.in-focus {
  opacity: 1; /* Fully visible when focused */
  transform: 
  scale(1), /* Full size when focused */
  translateX(0); /* Centered when in focus */
  z-index: 10; /* Bring to the front */
}

.projects-card.not-in-focus {
  opacity: 0.5; /* Dimmed */
  transform: 
    scale(0.8) 
    translateX(100px);
  z-index: 1; /* Push to the back */
}


.projects-card:hover img {
    transform: scale(1.05); /* Slight zoom-in effect */
}


.projects-card:hover video {
    transform: scale(1.05); /* Slight zoom-in effect */
}


/* Button inside Card */
.projects-card .btn {
    display: inline-block;
    margin-top: 1rem;
    background-color: #f56a6a;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    font-size: 1rem;
    transition: background-color 0.3s ease;
}


.projects-card .btn:hover {
    background-color: #b54d4d;
}