/* utilities.css */
.text-center {
  text-align: center;
}

.mt-4 {
  margin-top: 4rem;
}
.mt-16 {
  margin-top: 16rem;
}

.mb-1 {
  margin-bottom: 1rem;
}

.mb-4 {
  margin-bottom: 4rem;
}

.hidden {
  display: none;
}

.pt-16 {
  padding-top: 16px;
}